{% block context %}

<footer class="bg-[rgba(0,0,5,0.4)] backdrop-blur-[5px] px-20 py-10 flex flex-col items-start gap-[35px] max-md:px-10 max-sm:px-5 max-md:py-6">
    <h3 class="text-white text-3xl font-bold">ToDo<span class="text-[rgba(167,139,250,1)]">App</span></h3>
    <div class="w-full flex items-start justify-between text-gray-400 gap-[50px] flex-wrap ">
        <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
            <li><a href="">WhatsApp</a></li>
            <li><a href="">X</a></li>
            <li><a href="">Youtube</a></li>
        </ul>
        <ul>
            <li><a href="">conditions</a></li>
            <li><a href="">contact</a></li>
            <li><a href="">private</a></li>
        </ul>
        <ul>
            <li>Developer - Ana Puturidze</li>
            <li>595 755 154</li>
            <li>Georgia, Tbilisi ....</li>
            <li>puturidzeana0210@gmail.com</li>
        </ul>
    </div>
</footer>

{% endblock %}