{% extends 'index.html' %}

{% block nav %}
<div class="flex justify-end items-center gap-[5px]">
    <a href="{% url 'profile' %}">
        <img src="https://i.pinimg.com/736x/19/e6/6e/19e66e7b54a1a06baea79eb1bb7cd725.jpg" alt=""
            class="rounded-[50%] w-[50px] h-[50px] cursor-pointer">
    </a>
    <p>{{ username }}</p>
</div>
{% endblock %}
{% block content %}
<section class="flex items-center justify-center w-full flex-col h-[85vh] gap-[50px]">
    <div class="flex items-center gap-[10px] flex-col">
        <h2 class="text-white text-6xl">Hello <span class="text-[rgb(167,139,250)]">{{ name }}</span>! </h2>
        <h4 class="text-gray-200">Choose your desired page</h4>
    </div>
    <section class="text-white flex items-center justify-center w-full gap-[20px]">
        <a href="{% url 'tasks' %}">
            <div
                class="group relative w-40 h-40 flex items-center justify-center bg-slate-850 rounded-lg backdrop-blur-[2px] overflow-hidden border border-slate-700">
                <div
                    class="absolute top-0 -left-[100%] w-1/2 h-full bg-gradient-to-r from-transparent via-white/20 to-transparent -skew-x-12 transition-all duration-700 group-hover:left-[100%]">
                </div>

                <div class="text-[rgb(167,139,250)] tracking-[1px] text-xl font-semibold">
                    Tasks
                </div>
            </div>
        </a>
        <a href="{% url 'tasks' %}">
            <div
                class="group relative w-40 h-40 flex items-center justify-center bg-slate-850 rounded-lg backdrop-blur-[2px] overflow-hidden border border-slate-700 translate-y-[20px]">
                <div
                    class="absolute top-0 -left-[100%] w-1/2 h-full bg-gradient-to-r from-transparent via-white/20 to-transparent -skew-x-12 transition-all duration-700 group-hover:left-[100%]">
                </div>
                <div class="text-[rgb(167,139,250)] tracking-[1px] text-xl font-semibold">
                    Notes
                </div>
            </div>
        </a>
        <a href="{% url 'tasks' %}">
            <div
                class="group relative w-40 h-40 flex items-center justify-center bg-slate-850 rounded-lg backdrop-blur-[2px] overflow-hidden border border-slate-700 -translate-y-[10px]">
                <div
                    class="absolute top-0 -left-[100%] w-1/2 h-full bg-gradient-to-r from-transparent via-white/20 to-transparent -skew-x-12 transition-all duration-700 group-hover:left-[100%]">
                </div>
                <div class="text-[rgb(167,139,250)] tracking-[1px] text-xl font-semibold">
                    Calendar
                </div>
            </div>
        </a>
    </section>
</section>
{% endblock %}