{% extends 'index.html' %}

{% block nav %}
<div class="flex justify-end items-center gap-[5px]">
    <a href="{% url 'profile' %}">
        <img src="https://i.pinimg.com/736x/19/e6/6e/19e66e7b54a1a06baea79eb1bb7cd725.jpg" alt=""
            class="rounded-[50%] w-[50px] h-[50px] cursor-pointer">
    </a>
    <p>{{ username }}</p>
</div>
{% endblock %}

{% block content %}
<section class="w-full flex flex-col items-center justify-between min-h-[80vh]">
    {% include 'nav.html' %}

    {% if tasks %}
    <section class="w-full flex items-center h-[65vh] ">
        {% if is_edit %}
        <div id="blur"
            class="text-white absolute z-20 w-[90%] h-[70vh] backdrop-blur-md flex items-center justify-center flex-col gap-[10px]">
            <div class="bg-[rgb(10,10,10)] px-10 py-5 rounded w-max flex flex-col items-center gap-[15px] relative">
                <h2 class="text-3xl ">Edit task</h2>
                <form method="POST" class="flex items-center gap-[10px] ">
                    <a href="/tasks/all/">
                        <i class="fa-solid fa-x absolute top-5 right-5 cursor-pointer"></i>
                    </a>
                    {% csrf_token %}
                    <input type="text" name="value" class="bg-black border border-gray-300 px-10 py-3 rounded"
                        placeholder="New task...">
                    <button type="submit" class="bg-green-500 text-white px-5 py-3 rounded ">Submit</button>
                </form>
            </div>
        </div>
        {% endif %}
        {% if is_open %}
        <div class="backdrop-blur-md w-[85%] h-screen z-[100] absolute top-0 flex flex-col items-center justify-center">
            <div class="bg-gray-800 flex flex-col w-max px-10 py-5 items-center justify-center gap-4 rounded relative">
                <a href="/tasks/all/" class="text-white absolute top-4 right-5 duration-100 hover:text-gray-300">
                    <i class="fa-solid fa-x"></i>
                </a>
                <p class="text-gray-300 text-3xl">№ {{task.id}} </p>
                <p class="text-white text-center w-full">{{ task.tasks }}</p>
                <ul class="text-white text-sm flex flex-col flex items-start gap-[3px]">
                    <li>Add time: {{ task.add_time }}</li>
                    <li>Completed: {{ task.completed_time }}</li>
                    {% if task.deleted_time %}
                    <li>Deleted_time: {{ task.deleted_time }}</li>
                    {% endif %}
                    <li>Deadline: {{ task.deadline_time }}</li>
                </ul>
                <form action="/tasks/view/{{ task.id }}" method="POST">
                    {% csrf_token %}
                    <select name="new_category" id=""
                        class="border-gray-500 px-5 py-2 rounded bg-gray-800 border outline-none text-gray-500 cursor-pointer duration-100 hover:bg-gray-700"  onchange="this.form.submit()">
                        {% for ctg in category %}
                        <option value="{{ ctg.category }}" {% if ctg.category == task.category %} selected {% endif %} >
                            {{ctg.category}}</option>
                        {% endfor %}
                        <option value="Default" {% if "Default" == task.category %} selected {% endif %}>Default</option>
                    </select>

                </form>
            </div>

        </div>
        {% endif %}
        <ul class="flex items-start flex-col w-full gap-[15px] h-[60vh] overflow-y-auto"
            style="scrollbar-width: none; -ms-overflow-style: none;">
            {% for item in tasks %}
            <li
                class="{% if item.completed_time %} border border-green-800 text-green-500 rounded-lg hover:bg-green-500 hover:text-black  {% else %} border border-blue-800 text-blue-500 rounded-lg hover:bg-blue-700 hover:text-black {% endif %} duration-200 px-10 py-4 w-full hover:translate-y-[3px] cursor-pointer flex items-center justify-between gap-[10px]">
                <a href="/tasks/view/{{ item.id }}">
                    <p>
                        {{ item.tasks }}
                    </p>
                </a>
                <div
                    class="flex items-center gap-[10px] group {% if item.completed_time %} text-green-700 {% else %} text-blue-900 {% endif %} duration-200 cursor-pointer justify-between gap-[10px]">
                    <a href="/tasks/edit/{{ item.id }}">
                        <i class="fa-solid fa-pen-to-square text-xl duration-100 hover:text-orange-700" id="edit"></i>
                    </a>
                    <a href="/tasks/delete/{{ item.id }}">
                        <i class="fa-solid fa-trash text-xl duration-100 hover:text-red-700"></i>
                    </a>
                    <form action="/tasks/completed/{{ item.id }}" method="POST">
                        {% csrf_token %}
                        <label class="relative flex items-center cursor-pointer justify-center">
                            <input type="checkbox"
                                class="peer appearance-none w-[23px] h-[23px] border-2 border-blue-900 rounded checked:bg-none checked:border-green-700 transition-all"
                                onchange="this.form.submit()" {% if item.completed_time %} checked {% endif %}>
                            <i
                                class="fa-solid fa-check absolute opacity-0 peer-checked:opacity-100 text-white left-1.3 text-sm transition-all font-[900] "></i>
                        </label>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <form class="w-[55%] flex items-center justify-between text-white" method="POST" action="/tasks/all/">
            {% csrf_token %}
            <ul>
                <li>all</li>
                <li>Comp</li>
                <li>Uncomp</li>
            </ul>
            <select name="category_filter" id="" class="bg-black border px-5 py-2 rounded text-gray-300 outline-none cursor-pointer hover:bg-gray-800 duration-100 border-gray-900" onchange="this.form.submit()">
                {% for ctg in category %}
                <option value="{{ctg.category}}" {% if ctg.category == filter_value %} selected {% endif %}>{{ ctg.category }}</option>
                {% endfor %}
                <option value="Default" {% if filter_value == 'Default' %} selected {% endif %}>Default</option>
                <option value="All" {% if not filter_value %} selected {% endif %}>All</option>
            </select> 
        </form>
    </section>
    {% else %}
    <div class="w-full h-[70vh] flex items-center justify-center flex-col gap-[15px]">
        <h2 class="text-white text-5xl">You have not added a task</h2>
        <h4 class="text-green-300"> Add a task now</h4>
    </div>
    {% endif %}
</section>
{% endblock %}