<nav class="w-full flex items-center justify-between text-gray-200 font-[100]">
    <a href="/tasks">
        <button
            class="px-10 py-3 rounded border-b border-white duration-100 cursor-pointer hover:border-green-500 hover:text-green-500">
            New Tasks
        </button>
    </a>
    <a href="/tasks/all">
        <button
            class="px-10 py-3 rounded border-b border-white duration-100 cursor-pointer hover:border-green-500 hover:text-green-500">
            All
        </button>
    </a>
    <a href="/tasks/delete">
        <button
            class="px-10 py-3 rounded border-b border-white duration-100 cursor-pointer hover:border-green-500 hover:text-green-500">
            Deleted
        </button>
    </a>
</nav>