<nav class="w-full flex items-center justify-around text-gray-200 py-3 font-[100]">
    <a href="/tasks">
        <button
            class="px-10 py-3 rounded duration-100 cursor-pointer hover:border-green-500 hover:text-[rgb(167,139,250)]">
            New Tasks
        </button>
    </a>
    <a href="/tasks/all">
        <button
            class="px-10 py-3 rounded duration-100 cursor-pointer hover:border-green-500 hover:text-[rgb(167,139,250)]">
            All
        </button>
    </a>
    <a href="/tasks/delete">
        <button
            class="px-10 py-3 rounded duration-100 cursor-pointer hover:border-green-500 hover:text-[rgb(167,139,250)]">
            Deleted
        </button>
    </a>
</nav>