{% extends 'index.html' %}

{% block nav %}
<div class="flex justify-end items-center gap-[5px]">
    <a href="{% url 'profile' %}">
        <img src="https://i.pinimg.com/736x/19/e6/6e/19e66e7b54a1a06baea79eb1bb7cd725.jpg" alt=""
            class="rounded-[50%] w-[50px] h-[50px] cursor-pointer">
    </a>
    <p>{{ username }}</p>
</div>
{% endblock %}

{% block content %}
<section class="h-[80vh] w-full flex items-center justify-between flex-col px-20 py-8 max-md:px-10 max-sm:px-5 max-md:py-7">
    {% include 'nav.html' %}

    <div class="h-[75vh] flex items-center justify-center flex-col gap-[15px] w-full">
        <h2 class="text-white text-5xl">Add <span class="text-[rgb(167,139,250)]">New</span> Tasks!</h2>
        <form class="w-full max-w-[700px] flex items-center gap-[5px]" method="POST" action="add_item/">
            {% csrf_token %}
            <a href="/tasks/add_category">
                <button class="px-5 py-2.5 bg-[rgb(167,139,250)] rounded duration-100 hover:bg-[rgb(167,139,250)]" type="button">
                    <i class="fa-solid fa-plus text-white cursor-pointer text-xl duration-100 "></i>
                </button>
            </a>
            <select name="select" class="bg-[rgb(167,139,250)] px-5 py-3 rounded text-white cursor-pointer duration-100 hover:bg-[rgb(167,139,250)] outline-none">
                <option value="Default" selected class="bg-[rgb(167,139,250)] text-white ">Default</option>
                {% if category %}
                {% for item in category %}
                <option value="{{item.category}}">{{item.category}}</option>
                {% endfor %}
            </select>

            {% endif %}
            <input type="text" placeholder="New tasks..."
                class="px-6 py-3 rounded border-[rgb(167,139,250)] border bg-black outline-[rgb(167,139,250)] text-white w-full"
                name="tasks" required>
            <button type="submit" class="text-white bg-[rgb(167,139,250)] px-5 py-3 rounded duration-100 hover:bg-[rgb(167,139,250)]">Add</button>
        </form>
    </div>
</section>

{% endblock %}