{% extends 'index.html' %}

{% block content %}
<section class="h-[80vh] w-full flex items-center justify-between flex-col ">
    {% include 'nav.html' %}

    <div class="h-[75vh] flex items-center justify-center flex-col gap-[15px] w-full">
        <h2 class="text-white text-5xl">Add <span class="text-green-400">New</span> Tasks!</h2>
        <form class="w-full max-w-[500px] flex items-center gap-[5px]" method="POST" action="add_item/">
            {% csrf_token %}
            <input type="text" placeholder="New tasks..."
                class="px-6 py-3 rounded border-green-500 border bg-black outline-green-300 text-white w-full" name="tasks"
                required>
            <button type="submit"
                class="text-white bg-green-500 px-5 py-3 rounded duration-100 hover:bg-green-700">Add</button>
        </form>
    </div>
</section>
{% endblock %}